h1, h2 { font-family: "Lucida Grande", "Helvetica", "Arial", sans-serif; }
body { 
  background-color: #E8FEFF; 
  font-family: "Palatino", "Times New Roman", serif; 
}
img { max-width: 100%; height: auto; }