# $ pip3 install -r requirements.txt

# Production dependencies
python-dotenv
gunicorn # needed for Render deploy
flask
langchain_openai
langchain-community # maybe, for doc chunking
pymupdf # maybe
faiss-cpu # maybe
psycopg2-binary # PostgreSQL adapter for Python (Render Database)
sqlalchemy # ORM (Object-Relational Mapping) for PostgreSQL

# Development dependencies
# pytest