<!DOCTYPE html>
<html lang="en">
<head>
    <title>PatChat | Patrick Stephens</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/global.css') }}">
    <link href="https://chat.patrickcstephens.com/" rel="canonical">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <base href="/"> 

    <!-- Head Elements: https://www.w3schools.com/html/html_head.asp -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8"> <!-- Define the character set used -->
    <meta name="author" content="Patrick Stephens">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="robots" content="noindex, nofollow">

</head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-5GGZZMBHJP"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-5GGZZMBHJP');
</script>
<body>
    <header>
        <div class="global-nav-container" id="global-nav-container">
        <!-- global-nav.js will execute here -->
        </div>
    </header>
    <main>
        <div class="main-content-container">
            <div class="content">
                <h1>PatChat | Product Management Copilot</h1>
                <!-- Chat Assistant -->
                <div class="chat-container">
                    <div id="chat-box" class="chat-box"></div>
                    <div class="input-wrapper">
                        <input type="text" id="user-input" class="chat-input" placeholder="Type a question..." maxlength="100">
                        <button id="send-button" onclick="sendMessage()">Send</button> 
                    </div>
                    <div class="g-recaptcha" id="recaptcha" data-sitekey="6Lfc5-QqAAAAAPxDOhglFbMVRSj1dCwfU7K15iuo"></div>
                </div>
                <script src="https://www.google.com/recaptcha/api.js" async defer></script> <!-- loads Google’s reCAPTCHA library, used for verifying the CAPTCHA; it must be loaded for the grecaptcha.getResponse() function to work -->
                <script src="{{ url_for('static', filename='js/chat.js') }}"></script> <!-- Chat Assistant -->
                <div class="main-content-divider"></div>
                <p>PatChat is an AI Copilot that answers questions about product management using RAG to ground the LLM's response to your prompt in notes I've taken throughout my product management career. Ask PatChat questions to learn about my perspective on building valuable products.</p>
            </div>
            <div class="responsive-main-content-sidebar-divider"></div>
        </div>
        <div class="global-sidebar-container" id="global-sidebar-container">
            <!-- global-sidebar.js will execute here -->
        </div>
        
        <!-- Page Content Scripts -->
        <script src="{{ url_for('static', filename='js/global-nav.js') }}"></script>
        <script src="{{ url_for('static', filename='js/global-sidebar.js') }}"></script>
        <script src="{{ url_for('static', filename='js/global-footer.js') }}"></script>
    </main>
    <footer>
        <div class="global-footer-container" id="global-footer-container">
            <!-- global-footer.js will execute here -->
        </div>
    </footer>
</div>
</body>
</html>